<% provide(:title, ' ') %>
<% if signed_in? %>
	<div class='row'>
		<aside class='span4'>
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/book_post_form' %>
			</section>
		</aside>
		<div class='span8'>
			<h3>Book Post Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class='center hero-unit'>
		<h1>Welcome to BookBits.</h1>
		<h2>
			Follow your favorite authors.<br/>
			Keep a calendar of upcoming releases.<br/>
			Get access to their latest press coverage.
		</h2>
	
		<%= link_to "Sign up for BookBits", signup_path, 
		  	class: "btn btn-large btn-primary" %>
	</div>
<% end %>