<footer class="footer">
  <small>
		BookFollow by
    <a href="http://www.emilyellison986.github.com/">Emily Ellison</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>